<!-- <div th:if="${param.error}" class="alert alert-danger" role="alert">
  No sufficient credits
</div>

<div th:if="${param.withdrawError}" class="alert alert-danger" role="alert">
  No sufficient credits to complete transfer
</div>

<div th:if="${param.depositError}" class="alert alert-danger" role="alert">
  The transfer account does not exist
</div> -->



<!-- User Navigation Bar -->
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Online Banking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userNavbar" aria-controls="userNavbar" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div id="userNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- <form (ngSubmit)="onLogout()" #logoutForm="ngForm">
            <button type="submit" class="btn btn-link nav-link">Logout</button>
          </form> -->
          <button (click)="onLogout()" class="btn btn-link nav-link">Logout</button>
           <button (click)="testClick()">Test Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>






<!-- <div  action="#" th:action="@{/home}" method ="get" class="grid-container mt-5">
  <div class="item1 ms-2 ">Welcome to the online Banking System</div>
  <div id="account"  onclick="showHtmlDiv()" style="cursor: pointer;" th:if="${param.accountNumber}" class="item2 ms-2">Account</div>
  <div onclick="showHtmlDiv()" style="cursor: pointer;" th:if="${param.accountNumber}" class="item4"></div>
  <div onclick="showHtmlDiv()" style="cursor: pointer;" th:if="${param.accountNumber}" th:text ="${accountNumber}" class="item5 ms-2" ></div>
  <div onclick="showHtmlDiv()" style="cursor: pointer;" th:if="${param.accountNumber}" th:text ="${balance}" class="item6" ></div>
</div> -->
