<div  class="grid-container mt-5" *ngIf="userName">
  <div class="item1 ms-2" *ngIf="userName" >Welcome, {{userName}}</div>
  <ng-container *ngIf="showAccountDetails && account">
  <div id="accountDetails"  *ngIf="showAccountDetails" style="cursor: pointer;"  class="item2 ms-2">Account</div>
  <div   style="cursor: pointer;"  class="item4"></div>
  <div   style="cursor: pointer;"  class="item5 ms-2"> {{ account?.accountNumber }}</div>
  <div   style="cursor: pointer;"  class="item6">{{ account?.balance }}</div>
  </ng-container>
</div>



<div id="transfers" *ngIf="showAccountDetails" >
<div  *ngFor="let date of getDates()"> 
  <div class="grid-container mt-2" >
    <div class="item2 ms-2">{{date}}</div>
    <div class="item4"></div>
  </div>

   <div class="grid-container1"   *ngFor="let transfer of transfersByDate[date]">
     <div  class="item5 ms-2" >{{transfer.accountInfo}}</div>
     <div  class="item6" >{{transfer.transferredMoney}}</div>
    </div>
  </div>
</div>

